# Discord Bot Token (Required)
DISCORD_TOKEN=your_token_here

# Optional: List of Lavalink nodes (format: name|host|port|password|secure, separated by commas)
# Example: Node1|localhost|2333|password|false,Node2|example.com|443|password|true
# LAVALINK_NODES=

# Individual Node configuration (Used as defaults if LAVALINK_NODES is not set)
NODE_1_HOST=lavalinkv4.serenetia.com
NODE_1_PORT=443
NODE_1_PASS=https://dsc.gg/ajidevserver
NODE_1_SECURE=true
